.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
}

.backdrop .fullscreen_image {
  position: absolute;
  min-width: 80vw;
  min-height: 80vh;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all ease-in 0.2s;
}

.backdrop.active {
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.5);
}

.backdrop.active .fullscreen_image {
  transform: translate(-50%, -50%) scale(1);
}

.fullscreen_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}